
table {
    border-collapse: collapse;
    border: .5px solid #E8F1F2;
    font-family: Prompt;
    text-align: left;
    margin: 0 auto;
}

    table > caption {
        text-transform: uppercase;
        font-weight: bolder;
    }

th {
    text-transform: uppercase;
    background-color: #172A3A;
    color: #A4C8CB;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #E5EFF0;
}

td[data-style="bold"] {
    font-weight: bold;
    color: #11202C;
    border-right: 1px solid #C5C7D3;
}

td {
    padding: 12px;
    text-align: center;
    color: #11202C;
    border-bottom: 1px solid #C5C7D3;
}

tfoot {
    background-color: #172A3A;
    text-align: center;
    color: #A4C8CB;
}

tbody > tr:hover {
    background-color: #8DE2E2;
}
